html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::afteer {
    box-sizing: inherit;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

.gameWrapper {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}